[#include "../../inc/head_v2.html"/]
		<link rel="stylesheet" href="${base}/res/css/ifa.css">  
        <link rel="stylesheet" type="text/css" href="${base}/res/css/Funds.css"> 
        <link href="${base}/res/third/laydate/need/laydate.css">
		<link href="${base}/res/third/laydate/skins/yalan/laydate.css">
        <style>
        .ng-cloak{display:none !important;}
        .li-select-color{color: rgb(75, 166, 222);}
        </style>
        <div class="wmes-content" ng-controller="ifaTableCtrl"  ng-app="ifaTable">
    		<div class="ifa_choose_condition">
    			<p class="wmes-wrap-title">[@lang_res k='myInsight.list.title'/]</p>
    			<div class="funds_choice_wrap">
					<p class="funds_choice_title">[@lang_res k='myInsight.list.issued.date'/]</p>
					<ul class="funds_choice funds_choice_issued_date">
						<li style="float: left;" class="fund_choice_active funds_all fund_choice_active2" data-name="IssuedDate" data-value="">[@lang_res l=Session["_LANG_CODE_"] k='fund.info.searchAll'/]</li>
						[#if periodList?exists && periodList?size gt 0]
						[#list periodList as list]
						<li style="float: left;" data-name="IssuedDate" data-key="[@lang_res k='list.search.issuedDate'/] : ${list.name!}" data-value="${list.itemCode!}">${list.name!}</li>
						[/#list]
						[/#if]
						<li style="float: left;" class="issued-date-other" data-name="IssuedDate" data-value="" data-key="">[@lang_res k='myInsight.list.issued.date.other'/]</li>
						<div class="issued-date-other-time" style="float: left;display:none">
							<input class="laydate-icon form-control form-control-laydate" style="width: 100px;margin: 0 10px 10px 10px;" id="fromDate" readonly type="text" name="fromDate">
                       		<input class="laydate-icon form-control form-control-laydate" style="width: 100px;margin: 0 10px 10px 10px;" id="toDate" readonly type="text" name="toDate">
						</div>
					</ul>
				</div>
				<div class="funds_choice_wrap">
					<p class="funds_choice_title">[@lang_res k='list.search.geoAllo'/]</p>
					<ul class="funds_choice funds_logo_b" id="funds_logo_choice">
						<li data-letter="" class="funds_all fund_choice_active fund_choice_active2 select-geo-allo-all" data-name="regions">[@lang_res k='fund.info.searchAll'/]</li>
						<li data-letter="A,B,C,D,E">A-E</li>
						<li data-letter="F,I,J">F-J</li>
						<li data-letter="K,L,M,N,O">K-O</li>
						<li data-letter="P,Q,R,S,T">P-T</li>
						<li data-letter="U,V,W,X,Y,Z">U-Z</li>
					</ul>
					<ul class="funds_choice funds_choice_amend funds_logo_choice funds_logo_choice_amend select-geo-allo" id="funds_logo">
					 	[#if regionList?exists && regionList?size gt 0]
					    [#list regionList as list]
						<li style="display:none;" data-name="regions${list_index}" data-key="[@lang_res k='list.search.geoAllo'/] : ${list.name!}" data-letter="${list.key!}" data-value="${list.itemCode!}" >${list.name!}</li>
						[/#list]
					    [/#if]
					</ul>
				</div>
				<div class="funds_choice_wrap funds_choice_wrap_hidden">
					<p class="funds_choice_title">[@lang_res k='list.search.sector'/]</p>
					<ul class="funds_choice funds_choice_amend funds_choice_sector">
						<li class="fund_choice_active funds_all fund_choice_active2 funds_all_Sector" data-name="sector" data-key="" data-value="Sector_00">[@lang_res k='fund.info.searchAll'/]</li>
						[#if sectorList?exists && sectorList?size gt 0]
						[#list sectorList as list]
						<li data-name="sector${list_index}" data-key="[@lang_res k='list.search.sector'/] : ${list.name!}" data-value="${list.itemCode!}" title="${list.name!}">${list.name!}</li>
						[/#list]
						[/#if]
					</ul>
					<div class="funds_choice_wrap_hiddenclick">
						<img src="${base}/res/images/application/hideen.png">
					</div>
				 </div>
             </div>
    		<div class="recommend-list-wrap">       			
    			<div class="funds_list_selected">
	                <p class="funds_selected_title">[@lang_res k='myInsight.list.selected.condition'/]</p>
					<ul class="selection_criteria">
						<p style="float: left;" class="funds_title_selection">[@lang_res k='myInsight.list.reset.filter'/] </p>
					</ul>
				</div>
				<div class="recommend-list-contents">
					<ul class="builder-tab application-information-tab" style="margin-top:30px;">
						<li data-active="publish" class="tab-active">[@lang_res k='myInsight.list.tab.publish'/]<span></span></li>
						<li data-active="draft">[@lang_res k='myInsight.list.tab.draft'/]<span></span></li>
					</ul>
					<div class="funds_keyserach_wrap">
						<p class="funds_serach_sum" style="float:left;">
	                        [@lang_res l=Session["_LANG_CODE_"] k='fund.info.searchTip'/] 
	                        <span class="funds_serach_digital ng-cloak">{{datatotal}}</span> [@lang_res k='myInsight.list.records.found'/]</p>
                        <div class="funds_keyserach">
                            <input type="text"  id="searchKeyWord" placeholder="Please enter keyword search"/>
                            <span class="icon_search" id="searchKeyBtn"></span>
                        </div>
                    </div>
                    <div class="wenti_btn" id="rpa_subbtn">
						<a id="btn_new" class="ifa-option-btn" href="${base}/front/ifa/myInsight/insightEdit.do">[@lang_res k='myInsight.list.new'/]</a>
					</div>
                    <ul class="recommend-switch-tab">
	                    <li class="funds_sort" currentSort="viewSort" removeSort="issuedDateSort">
	                        <p class="funds_switch_tab_title">[@lang_res k='myInsight.list.views'/]</p>
	                        <p class="funds_arrow_wraps">
	                            <span class="arrow_top"></span>
	                            <span class="arrow_down"></span>
	                        </p>        
	                    </li>
	                     <li class="funds_sort" currentSort="issuedDateSort" removeSort="viewSort">
	                        <p class="funds_switch_tab_title">[@lang_res k='myInsight.list.issued.date'/]</p>
	                        <p class="funds_arrow_wraps">
	                            <span class="arrow_top"></span>
	                            <span class="arrow_down"></span>
	                        </p>        
	                    </li>
	                </ul>
	                <ul class="recommend-news-list ifa_list">
	                	<li ng-repeat="items in dataList" class="dataListTr ng-cloak">
	                		<span ng-if="items.overhead == '1'" class="recommend-ico-down" style="float:left;margin:0 10px 0 0"></span>
	                		<span ng-if="!!items.thumbnail">
	                		<img class="recommend-news-img" ng-src="${base}/loadImgSrcByPath.do?filePath={{items.thumbnail}}">
	                		</span>
	                		<!--<span ng-if="!items.thumbnail">&nbsp;</span>-->
	                		<div class="recommend-news-main">
	                			<div class="recommend-news-contents">
	                				<a href="javascript:void(0);">
	                					<p insightid="{{items.id}}" class="recommend-news-title" ng-bind="items.title"></p>
	                				</a>
	                					<p class="recommend-news-word" ng-bind="items.content | cut:true:150:'...'"></p>
	                				<div class="recommend-news-contents-bottom">
	                					<p class="recommend-news-bottom-left" ng-if="items.status == '1'">[@lang_res k='myInsight.list.publish.date'/] {{items.pubDateStr|date:'yyyy-MM-dd HH:mm:ss'}}</p><!-- 发布时间 -->
	                					<div class="recommend-news-bottom-right">
	                						<div class="recommend-news-bottom-ico">
	                							<img class="recommend-news-bottom-img" src="${base}/res/images/discover/eve_ico.png">
	                							<p class="recommend-news-bottom-num" ng-if="items.click!=null">{{items.click}}</p><!-- 查看次数 -->
	                							<p class="recommend-news-bottom-num" ng-if="items.click==null">0</p>
	                						</div>
	                						<div class="recommend-news-bottom-ico visitorsBtn" id="visitors" insightId={{items.id}}>
	                						<a href="javascript:void(0)">
	                							<img class="recommend-news-msg-ico" src="${base}/res/images/fund/msg_ico.png">
	                							<p class="recommend-news-eve-num" ng-if="items.frendsCount<100">{{items.frendsCount}}</p><!-- 关注的ifa次数 -->
	                							<p class="recommend-news-bottom-num" ng-if="items.frendsCount==null">0</p>
	                							<p class="recommend-news-bottom-num" ng-if="items.frendsCount>99">...</p>
                							</a>
	                						</div>
	                						<!--
	                						<div class="recommend-news-bottom-like">
	                						<a id="recommend-news-like" data-type="1" data-insight="{{items.id}}" href="javascript:void(0)">
	                							<img class="recommend-news-like-ico" src="${base}/res/images/fund/fund_like_ico.png">
	                							<p class="recommend-news-like-num" ng-if="items.upCounter!=null">{{items.upCounter}}</p> 赞 
	                							<p class="recommend-news-bottom-num" ng-if="items.upCounter==null">0</p>
                							</a>
	                						</div>
	                						<div class="recommend-news-bottom-like">
	                						<a id="recommend-news-like" data-type="0" data-insight="{{items.id}}" href="javascript:void(0)">
	                							<img class="recommend-news-like-ico" src="${base}/res/images/fund/fund_step_ico.png">
	                							<p class="recommend-news-like-num" ng-model="downCounter" ng-if="items.downCounter!=null">{{items.downCounter}}</p> 踩 
	                							<p class="recommend-news-bottom-num" ng-model="downCounter" ng-if="items.downCounter==null">0</p>
	                						</a>
	                						</div>
	                						-->
	                					</div>
	                				</div>
	                			</div>
	                			<div class="recommend-news-list-right">
		                			<div class="recommend-news-date-contents">
		                				<p class="recommend-news-list-date">[@lang_res k='myInsight.list.create.date'/]</p>
		                				<p class="recommend-news-date-time">{{items.createTimeStr|date:'yyyy-MM-dd hh:mm:ss'}}</p>
		                			</div>
		                			<div class="recommend-news-action-contents">
		                				<p class="recommend-news-list-action">[@lang_res k='myInsight.list.actions'/]</p>
		                				<a href="${base}/front/ifa/myInsight/insightEdit.do?insightId={{items.id}}">
					                    <img  id="edit" class="recommend-ico" src="${base}/res/images/fund/change_ico.png">
					                    </a>
					                    <img  class="recommend-ico delete" src="${base}/res/images/fund/delete_ico.png" insightId="{{items.id}}">
				                        <!-- 已经下载的加上类名recommend-ico-down-active -->
					                    <span class="recommend-ico-down recommend-ico-down-active" ng-if="items.overhead==1" id="headdown" insightId="{{items.id}}"></span>
					                    <span class="recommend-ico-down" ng-if="items.overhead!=1" id="headup" insightId="{{items.id}}"></span>
		                			</div>
		                		</div>
	                		</div>
	                	</li>
	                	<!--<li class="no_list_tips">
	                        <div class="noResult" style="text-align:center;">[@lang_res k='global.notfound'/]</div>
	                           <br>
		                </li>
		                --><div class="wmes-nodata-tips no_list_tips" style="display:none">
  							<img class="wmes-nodata-img" src="${base}/res/images/no_data_ico.png">
  							<span class="wmes-nodate-word">[@lang_res k='global.nodata.tips'/]</span>
						</div> 
	                </ul>
	                <ul  class="wmes_list_paging">
		                <li class="wmes_pagint_num" ng-repeat="items in page.ListPage" ng-class="{wmes_pagint_now: items.PageShow == page.nowPage}" ng-bind="{{'items.PageShow'}}" data-page="{{items.PageShow}}"></li>
		            </ul>
	            </div>
        	</div>
        	<!-- 弹出层 -->
			<div class="visitedconlayer"></div>
			<div class="visitedcon">
				<p class="visitedcontitle">[@lang_res k='myInsight.list.recent.visitors'/]</p>
				<div class="visitedbox">
					<ul>
						<li ng-repeat="friend in friendList">
							<img alt="no data" ng-src="${base}{{friend.iconUrl}}" style="width:32px;height:32px;"/>
							<div class="visitedinformation">
								<p ng-bind="friend.nickName"></p>
								<p ng-bind="friend.visitDateTimeStr"></p>
							</div>
						</li>
					</ul>
				</div>
				<img style="display:none" class="visitedleft" src="${base}/res/images/ifa/left_ico.png" />
				<img style="display:none" class="visitedright" src="${base}/res/images/ifa/right_ico.png" />
			</div>
			
        </div>
        <div class="ifa-article-zhe"></div>
        	<div class="ifa-article-space">
				<div class="ifa-article-wrap">
					
				</div>
			</div>
        <form id="paramsForm" name="paramsForm" action="" method="post">
        	<input type="hidden" value="" name="fromDate" id="hidFromDate"/>
        	<input type="hidden" value="" name="toDate" id="hidToDate"/>
        	<input type="hidden" value="" name="geoAllocation" id="geoAllocation"/>
        	<input type="hidden" value="" name="issuedDate" id="issuedDate"/>
        	<input type="hidden" value="" name="allocation" id="allocation"/>
        	<input type="hidden" value="" name="sector" id="sector"/>
        	<input type="hidden" value="" name="viewSort" id="viewSort"/>
        	<input type="hidden" value="" name="issuedDateSort" id="issuedDateSort"/>
        	<input type="hidden" value="" name="keyWord" id="keyWord"/>
        </form>
[#include "../../inc/foot_v2.html"/]
<script type="text/javascript">
var GLOBAL_CLOSEWINDOW = "[@lang_res k='global.close'/]";
     //seajs.use('${base}/res/web/ifa/myRecommendnews.js');
     seajs.use('${base}/res/web/ifa/insight/list.js');
</script>