[#include "../../inc/head_v2.html"/]
<link rel="stylesheet" type="text/css" href="${base}/res/css/ifa.css">
<link rel="stylesheet" type="text/css" href="${base}/res/css/Funds.css">
<link rel="stylesheet" type="text/css" href="${base}/res/css/community.css">
<link rel="stylesheet" href="${base}/res/css/swiper.css">
<style>
	.wmes-myzone-myifa .community-popularity-wrap-mes-name {
		margin-top: 7px;
	}
	.community-popularity-wrap {
		border-bottom: 1px dashed #dedede;
		padding-bottom: 12px;
	}
	.swiper-button-next,
	.swiper-button-prev {
		position: absolute;
		top: 80px;
		width: 50px;
		height: 50px;
		opacity: 0.7;
		margin-top: -22px;
		z-index: 10;
		cursor: pointer;
		background-position: center;
		background-repeat: no-repeat;
		display: none;
	}
	.ifa-news-contents li{width:46%;float:left;border:0;margin-bottom:0;}
	.ifa-news-contents li:nth-child(1){margin-right:6%;}
	.ifa-news-contents{overflow:hidden;margin-top:15px;}
	.news-word-wrap{margin-bottom:0;}
	.gray-box{margin-top:10px;}
	.dialog-notice{
	    position: fixed;
	    top: 0px;
	    z-index: 999999;
	}
	.selectSector-title-sub{
		display:inline-block;
		font-size: 14px;
	    padding-bottom:15px;
	    color:#b7b5b5;
	    margin-right:25px;
	}
	.notice-content{
		clear: both;
	    margin: 0 2%;
	}
	.dispaly-active{
		height: 100%;
	 	width: calc(100% - 110px);
	}
	.selectSector {
	    height: auto;
	    position: absolute;
	    width: calc(93% - 90px);
	    padding: 26px 33px 0 33px;
	    box-shadow: 0px 0px 8px #ccc7c7;
	    background: #fff;
	    top: 20px;
	    left: 90px;
	}
	.swiper-button-disabled {
		display: none!important;
	}
	.swiper-button-prev {
		background: url('${base}/res/images/ifa/left_ico.png') no-repeat;
		background-size: 100% 100%;
		left: 0px;
	}
	
	.swiper-button-next {
		background: url('${base}/res/images/ifa/right_ico.png') no-repeat;
		background-size: 100% 100%;
		right: 0px;
	}
	.wmes-myzone-myifa .community-popularity-wrap-mes-name {
		margin-top: 7px;
	}
	.community-popularity-wrap {
		border-bottom: 1px dashed #dedede;
		padding-bottom: 12px;
	}
	.swiper-button-next,
	.swiper-button-prev {
		display: block;
		top:100px;
	}
	.ifa-news-contents li{width:46%;float:left;border:0;margin-bottom:0;}
	.ifa-news-contents li:nth-child(1){margin-right:6%;}
	.ifa-news-contents{overflow:hidden;margin-top:15px;}
	.news-word-wrap{margin-bottom:0;}
	.gray-box{margin-top:10px;}
	.wmes-wrap-title{font-size:22px;line-height:22px;min-height:22px;}
	.myzone-notice-list li b{margin:0;}
	.myzone-noticeconleft .myzone-notice-list-amend li:nth-child(2n+1){background: #f4f8fb;}
	.myzone-noticeconleft .myzone-notice-list-amend li:nth-child(2n){background: #fafcf2;}
	.myzone-noticeconleft .myzone-notice-list-amend li {min-height: 33px;border-bottom: 0;padding: 10px 20px;line-height:33px;}
	.myzone-noticeconleft .myzone-notice-list-amend li .gray-box {margin-top: 13px;}
</style>
<div class="wmes-content" ng-app="investorHome">
<input type="hidden" id="currencyCode" value="${vo.currencyCode!}">
<input type="hidden" id="displayColor" value="${(vo.displayColor)!}">
	<div class="wmes-myzone-bg">
		<div class="wmes-myzone-left">
			<div class="wmes-myzone-left-top">
				<div ng-controller="investorMyAssetsCtrl" class="myzone-myassets">
					<p class="wmes-wrap-title">[@lang_res k='assets.myAssets'/]</p>
					<div class="myzone-myassets-content">
						<ul class="myzone-myassets-choose">
							<li ng-click="selectPortfolioAssets($event)" ng-if="allPortfolioAssets.portfolioAssets.length != 1" class="myzone-myassets-chooseac">[@lang_res k='investor.zone.allPortfolio'/]</li>
							<li ng-click="selectPortfolioAssets($event,portfolioAsset.holdId)" ng-repeat="portfolioAsset in allPortfolioAssets.portfolioAssets" id="{{portfolioAsset.holdId}}" ng-bind="portfolioAsset.portfolioName"></li>
						</ul>
						<ul class="myzone-myassets-rows">
							<li>
								<p class="my-assets-title">[@lang_res k='investor.zone.totalAssets'/] [#if (vo.currencyName)??](${(vo.currencyName)!})[/#if]</p>
								<p class="my-assets-word investor_eve_ico_flag"><span ng-bind-html="currentTotalAsset|currencyColor:''"></span><img class="eve_ico investor_eve_ico" src="${base!}/res/images/application/eye_show.png"></p>
							</li>
							<li>
								<p class="my-assets-title">[@lang_res k='investor.zone.cash'/] [#if (vo.currencyName)??](${(vo.currencyName)!})[/#if]</p>
								<p class="my-assets-word investor_eve_ico_flag"><span ng-bind-html="currentTotalCash|currencyColor:''"></span></p>
							</li>
							<li>
							
								<p class="my-assets-title">[@lang_res k='assets.totalReturn.rate'/] </p>
								<p class="my-assets-word investor_eve_ico_flag"><span ng-bind-html="currentAccReturn|currencyColor:'%':displayColor"></span></p>
							</li>
						</ul>
						<div id="mycharts"></div>
					</div>
					<div class="investor-nodata-zone" style="display:none;">
       					<img class="investor-nodata-img" style="width:725px;height:450px" src="${base!}/res/images/investor_zone_logo.png">
       					<div class="investor-nodata-wwrap">
       						<div class="investor-nodata-bg">
        						<p class="investor-nodata-title">[@lang_res k='global.search.noData'/]</p>
        						<p class="investor-nodata-word"></p>
       						</div>
       					</div>
       				</div>
				</div>
				<div class="wmes-myzone-performancecon">
					<p class="wmes-wrap-title">[@lang_res k='investor.zone.topPerform'/]</p>
					<ul class="wmes-community-tab">
						<li class="wmes-community-tabac">[@lang_res k='myfavourites.portfolios'/]</li>
						<li>[@lang_res k='myfavourites.strategies.funds'/]</li>
					</ul>
					<div class="myzone-topPerformance-list">
					[#if vo?? && vo.topPerformancePortfolios?? && vo.topPerformancePortfolios?size gt 0]
						[#list vo.topPerformancePortfolios as items]
						[#if items_index == 0]
						<div data-id="${(items.portfolioId)!}" class="myzone-topPerformance-first">
							<div class="myzone-topPerformance-title"><span>1</span><a target="_self" href="${base!}/front/portfolio/arena/detail.do?id=${(items.portfolioId)!}">${(items.portfolioName)!}</a></div>
							<p class="price_positive" data-value="${(items.increasePercent)!}">[@num_color s='${(items.increasePercent)!""}' c='${(vo.displayColor)!}'/]</p>
							<p>[@lang_res k='list.search.return' /]</p>
							<div class="funds_leveal_${(items.riskLevel)!}"></div>
							[#if items.increaseImagePath??]
							<img style="height: 100px;" data-src="${(items.increaseImagePath)!}" src="${base!}/loadImgSrcByPath.do?filePath=${(items.increaseImagePath)!}"/>
							[#else]
							<img style="height: 100px;" src="${base!}/res/images/application/portfolio_nodata.png">
							[/#if]
						</div>
						[/#if]
						[/#list]
						<ul>
						[#list vo.topPerformancePortfolios as items]
						[#if items_index gt 0]
							<li id="${(items.portfolioId)!}">
								<div class="myzone-topPerformance-title"><span>${items_index+1}</span><a target="_self" href="${base!}/front/portfolio/arena/detail.do?id=${(items.portfolioId)!}">${(items.portfolioName)!}</a></div>
								<div class="myzone-topPerformance-licon">
									<div class="funds_leveal_${(items.riskLevel)!}"></div>
									<div>
										<p class="price_positive" data-value="${(items.increasePercent)!}">[@num_color s='${(items.increasePercent)!""}' c='${(vo.displayColor)!}'/]</p>
										<p>[@lang_res k='list.search.return' /]</p>
									</div>
								</div>
								[#if items.increaseImagePath??]
								<img style="height: 50px;" data-src="${(items.increaseImagePath)!}" src="${base!}/loadImgSrcByPath.do?filePath=${(items.increaseImagePath)!}"/>
								[#else]
								<img style="height: 50px;" src="${base!}/res/images/application/portfolio_nodata.png">
								[/#if]
							</li>
						[/#if]
						[/#list]
						</ul>
					[#else]
						<div class="wmes-nodata-tips" style="height: 198px;display:block">
							<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
							<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
						</div>
					[/#if]
					</div>
					<div class="myzone-topPerformance-list myzone-topPerformance-fundslist">
					[#if vo?? && vo.topPerformanceFunds?? && vo.topPerformanceFunds?size gt 0]
						[#list vo.topPerformanceFunds as items]
						[#if items_index == 0]
						<div data-id="${(items.fundId)!}" class="myzone-topPerformance-first">
							<div class="myzone-topPerformance-title"><span>1</span><a target="_self" href="${base!}/front/fund/info/fundsdetail.do?id=${(items.fundId)!}">${(items.fundName)!}</a></div>
							<p class="price_positive" data-value="${(items.increase)!}">[@num_color s='${(items.increase)!""}' c='${(vo.displayColor)!}'/]</p>
							<p>[@lang_res k='fund.info.screener.performance.3MonthReturn'/]</p>
							<div class="funds_leveal_${(items.riskLevel)!}"></div>
							[#if items.increaseImagePath??]
							<img style="height: 100px;" data-src="${(items.increaseImagePath)!}" src="${base!}/loadImgSrcByPath.do?filePath=${(items.increaseImagePath)!}"/>
							[#else]
							<img style="height: 100px;" src="${base!}/res/images/application/portfolio_nodata.png">
							[/#if]
						</div>
						[/#if]
						[/#list]
						<ul>
						[#list vo.topPerformanceFunds as items]
						[#if items_index gt 0]
							<li>
								<div class="myzone-topPerformance-title"><span>${items_index+1}</span><a target="_self" href="${base!}/front/fund/info/fundsdetail.do?id=${(items.fundId)!}">${(items.fundName)!}</a></div>
								<div class="myzone-topPerformance-licon">
									<div class="funds_leveal_${(items.riskLevel)!}"></div>
									<div>
										<p class="price_positive" data-value="${(items.increase)!}">[@num_color s='${(items.increase)!""}' c='${(vo.displayColor)!}'/]</p>
										<p>[@lang_res k='fund.info.screener.performance.3MonthReturn'/]</p>
									</div>
								</div>
								[#if items.increaseImagePath??]
								<img style="height: 50px;" data-src="${(items.increaseImagePath)!}" src="${base!}/loadImgSrcByPath.do?filePath=${(items.increaseImagePath)!}"/>
								[#else]
								<img style="height: 50px;" src="${base!}/res/images/application/portfolio_nodata.png">
								[/#if]
							</li>
						[/#if]
						[/#list]
						</ul>
					[#else]
						<div class="wmes-nodata-tips" style="height: 198px;display:block">
							<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
							<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
						</div>
					[/#if]
					</div>
				</div>
				<div class="myzone-selectedfundscon">
					<p class="myzone-big-title" style="margin-left:9px;">[@lang_res k='investor.zone.mostSelected'/]</p>
					[#if vo?? && vo.mostSelectedFunds?? && vo.mostSelectedFunds?size gt 0]
					<ul class="myzone-selectedfunds">
					[#list vo.mostSelectedFunds as items]
						<li id="${(items.fundId)!}">
							<p class="myzone-selectedfunds-title"><a target="_self" href="${base!}/front/fund/info/fundsdetail.do?id=${(items.fundId)!}">${(items.fundName)!}</a></p>
							<div class="myzone-selectedfunds-content">
								<div class="funds_leveal_${(items.riskValue)!}"></div>
								<div class="myzone-selectedfunds-contentright">
									<p>${(items.rankingNum)!'-'}</p>
									<p>[@lang_res k='assets.portfolios'/]</p>
								</div>
							</div>
							<div class="myzone-selectedfundsbg">${items_index+1}</div>
						</li>
					[/#list]
					</ul>
					[#else]
					<div class="wmes-nodata-tips" style="display:block;padding: 10px 0;">
						<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
						<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
					</div>
					[/#if]
				</div>
			</div>
		</div>
		<div class="wmes-myzone-right">
			<div class="wmes-myzone-myifa">
				<p class="wmes-wrap-title">[@lang_res k='investor.zone.link.to.my.ifa'/]</p>
				<div class="wmes-myzone-myifa-title"><a target="_self" href="${base!}/front/ifa/info/list.do">[@lang_res k='global.ifa'/]</a></div>
				[#if vo?? && vo.ifas?? && vo.ifas?size gt 0]
				<div class="swiper-container">
					<ul class="swiper-wrapper">
					[#list vo.ifas as items]
						<li class="swiper-slide">
							<div class="wmes-myzone-ifacon">
								<a target="_self" href="${base!}/front/community/space/ifaSpace.do?id=${(items.memberId)!}"><img src="${base!}${(items.iconUrl)!}" /></a>
								<p class="myzone-ifaname">${(items.name)!}</p>
								<div class="contactifa layim-pop-chat" layim-pop-id="${(items.memberId)}">[@lang_res k='investor.zone.contact'/]</div>
							</div>
						</li>
					[/#list]
					</ul>
				</div>
				[#else]
				<div class="wmes-nodata-tips" style="display:block;">
					<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
					<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
				</div>
				[/#if]
				<div class="wmes-myzone-myifa-title"><a target="_self" href="${base!}/front/investor/mybuddy.do">[@lang_res k='investor.zone.buddy'/]</a></div>
				<ul class="wmes-myzone-buddycon">
				[#if vo?? && vo.buddys?? && vo.buddys?size gt 0]
					[#list vo.buddys as items]
					<li id="${(items.name)!}" class="community-popularity-wrap">
						<img style="cursor: default;" class="community-popularity-wrap-img" src="${base}${(items.iconUrl)!}">
						<div class="community-popularity-wrap-mes">
							<div class="community-popularity-wrap-mes-name">
								<a target="_self" href="${base!}/front/community/space/investorSpace.do?id=${(items.id)!}">${(items.name)!}</a>
							</div>
							<div class="community-popularity-wrap-mes-content">
								<div class="community-popularity-wrap-mes-followers">
									<p>[@lang_res k='community.space.followers'/]</p>
									<span>${(items.followers)!}</span>
								</div>
							</div>
						</div>
					</li>
					[/#list]
				[#else]
					<li>
						<div class="wmes-nodata-tips" style="display:block;padding: 26.5px 0;">
							<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
							<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
						</div>
					</li>
				[/#if]
				</ul>
			</div>
			<div ng-controller="myfavouritesCtrl" class="wmes-myzone-myfavouritescon ng-cloak">
				<p class="myzone-big-title" style="margin-left:9px;"><a target="_self" href="${base!}/front/ifa/info/myfavorites.do">[@lang_res k='assets.myFavourites'/]</a></p>
				<ul class="wmes-myzone-myfavouriteslist">
					<li class="wmes-myzone-myfavourites-portfolios">
						<div ng-if="portfolio!=null">
							<div class="myzone-myfavourites-portfolios-title" data-id="{{portfolio.portfoliosId}}"><a href="${base!}/front/portfolio/arena/detail.do?id={{portfolio.portfoliosId}}" target="_self">{{portfolio.portfoliosName}}</a></div>
							<div class="myzone-myfavourites-portfolios-content">
								<div class="myzone-myfavourites-portfolios-left">
									<span class="funds_leveal_{{portfolio.riskLevel}}"></span>
								</div>
								<div class="myzone-myfavourites-portfolios-right">
									<p class="price_positive myzone-myfavourites-portfolios-num" ng-bind-html="portfolio.totalReturn|percentColor:'%':${(vo.displayColor)!}"></p>
									<p>[@lang_res k='investor.zone.launch.return'/]</p>
								</div>
							</div>
							<div class="myzone-myfavourites-portfolios-namecon">
								<div class="myzone-myfavourites-portfolios-name">
									<!--<p>{{portfolio.portfoliosCreateName}}</p>
									<div>{{portfolio.createTime}}</div>-->
								</div>
							</div>
							<!--<div data-type="portfolio" data-favorites="{{portfolio.favoritesId}}" class="myzone-myfavourites-collect myzone-myfavourites-collected"></div>
						--></div>
						<div ng-if="portfolio==null" class="myzone-myfavourites-strategies-contentcon">
							<a href="${base!}/front/portfolio/arena/list.do" target="_self"><img src="${base}/res/images/community/nodata.png" /></a>
						</div>
						<div class="myzone-myfavourites-type"><a target="_self" href="${base!}/front/ifa/info/myfavorites.do?jp=0">[@lang_res k='myfavourites.portfolios'/]</a><span class="myzone-myfavourites-tips">{{portfolioCount}}</span></div>
					</li>
					<li class="wmes-myzone-myfavourites-watchlists">
						<div ng-if="watchListType!=null">
							<div class="myzone-myfavourites-watchlists-contentcon">
								<p class="myzone-myfavourites-watchlists-content" data-id="{{watchListType.typeId}}"><a target="_self" href="${base!}/front/ifa/info/myfavorites.do?jp=1">{{watchListType.typeName}}</a></p>
								<div>({{watchListType.myFavoritesWatchingListVO.length}} [@lang_res k='investor.zone.favourites.watchlist.managed.funds'/])</div>
							</div>
							<div class="myzone-myfavourites-portfolios-namecon">
								<div class="myzone-myfavourites-portfolios-name">
									<div>{{watchListType.createTime}}</div>
								</div>
							</div>
						</div>
						<div ng-if="watchListType==null" class="myzone-myfavourites-strategies-contentcon">
							<a href="${base!}/front/fund/info/list.do" target="_self"><img src="${base}/res/images/community/nodata.png" /></a>
						</div>
						<div class="myzone-myfavourites-type"><a href="${base!}/front/ifa/info/myfavorites.do?jp=1">[@lang_res k='assets.watchlists'/]</a><span class="myzone-myfavourites-tips">{{watchListTypeCount}}</span></div>
					</li>
					<li class="wmes-myzone-myfavourites-strategies">
						<div ng-if="strategy!=null">
							<p><a target="_self" href="${base!}/front/strategy/info/strategiesdetail.do?id={{strategy.strategyId}}">{{strategy.strategyName}}</a></p>
							<div class="myzone-list-msg">
								<p>{{strategy.sectorName}}</p>
								<span ng-if="strategy.sectorName!=null||strategy.geoAllocationName!=null">丨</span>
								<p>{{strategy.geoAllocationName}}</p>
							</div>
							<div class="myzone-list-licon" style="margin-top:0">
								<div class="funds_leveal_{{strategy.riskLevel}}"></div>
								<div class="myzone-strategies-charts" data-value='{{strategy.strategyAllocationsObj}}'></div>
							</div>
							<!--<div data-type="strategy" data-favorites="{{strategy.favoritesId}}" class="myzone-myfavourites-collect myzone-myfavourites-collected"></div>
						--></div>
						<div ng-if="strategy==null" class="myzone-myfavourites-strategies-contentcon">
							<a href="${base!}/front/strategy/info/list.do" target="_self"><img src="${base}/res/images/community/nodata.png" /></a>
						</div>
						<div class="myzone-myfavourites-type"><a target="_self" href="${base!}/front/ifa/info/myfavorites.do?jp=2">[@lang_res k='myfavourites.strategies'/]</a><span class="myzone-myfavourites-tips">{{strategyCount}}</span></div>
					</li>
				</ul>
				<ul class="wmes-community-tab">
					<li class="wmes-community-tabac">[@lang_res k='news.title'/]</li>
					<li>[@lang_res k='community.space.topic'/]</li>
				</ul>
				<div class="wmes-community-news-con" style="display: block;">
					<div ng-if="news!=null" class="wmes-community-news-wrap">
						<div class="wmes-community-news-title topicTitle"><a href="${base!}/front/news/info/newsContent.do?id={{news.id}}" target="_self">{{news.title}}</a></div>
						<div class="wmes-community-news-message">
							<div class="wmes-community-news-message-left">
								<div class="wmes-community-news-type">{{news.sectionType}}<span>{{news.pubDateFormat}}</span></div>
							</div>
							<div class="wmes-community-news-message-right">
								<div class="wmes-community-news-message-right-relycon">
									<!--<div data-type="news" data-favorites="{{news.favoritesId}}" class="wmes-community-topic-collect wmes-community-topic-collected"></div>
								--></div>
							</div>
						</div>
					</div>
					<img ng-if="news==null" style="margin: 7px auto;" src="${base}/res/images/community/nodata.png">
				</div>
				<div class="wmes-community-news-con">
					<div ng-if="topic!=null" class="wmes-community-news-wrap">
						<div class="wmes-community-news-title topicTitle"><a href="${base!}/front/community/info/topicDetail.do?type=t&id={{topic.id}}" target="_self">{{topic.title}}</a></div>
						<div class="wmes-community-news-message">
							<div class="wmes-community-news-message-left">
								<div class="wmes-community-news-type">{{topic.section}}<span>{{topic.createDate}}</span></div>
							</div>
							<!--<div class="wmes-community-news-message-right">
								<div class="wmes-community-news-message-right-relycon">
									<div data-type="topic" data-favorites="{{topic.favoritesId}}" class="wmes-community-topic-collect wmes-community-topic-collected"></div>
								</div>
							</div>
						--></div>
					</div>
					<img ng-if="topic==null" style="margin: 7px auto;" src="${base}/res/images/community/nodata.png">
				</div>
			</div>
		</div>
	</div>
	<div ng-controller="investorNoticeCtrl" class="myzone-noticecon">
		<div class="myzone-noticeconleft">
			<div class="myzone-big-title" style="margin-bottom:8px"><a target="_self" class="click-into-list" href="${base}/front/notice/previewNotices.do">[@lang_res k='notice.list.title'/]</a></div>
			<ul class="myzone-notice-th">
				<li class="myzone-notice-thliac"><img src="${base}/res/images/community/fundlist.png"/>[@lang_res k='investor.zone.announcement.myPortfolio'/]</li>
				<li><img src="${base}/res/images/community/system.png"/>[@lang_res k='investor.zone.announcement.corporate'/]</li>
			</ul>
			<div class="notice-list-cut notice-list-cutac">
				<ul class="myzone-notice-list myzone-notice-list-amend">
					<li id="{{items.id}}" ng-repeat="items in fundNotices">
						<span class="gray-box"></span>
						<p class="notice-preview" ng-click="previewNotice(items.annoName,items.annoDate,items.releaseByName,items.annoContent)" title="{{items.annoName}}" ng-bind="items.annoName|characters:40"></p>
						<i ng-bind="items.releaseByName"></i>
						<b ng-bind="items.annoDateFormat"></b>
					</li>
					<li ng-if="fundNotices==null">
						<div class="wmes-nodata-tips" style="display:block;">
							<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
							<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="notice-list-cut">
				<ul class="myzone-notice-list myzone-notice-list-amend">
					<li id="{{items.id}}" ng-repeat="items in sysNotices">
						<span class="gray-box"></span>
						<p class="notice-preview" ng-click="previewNotice(items.subject,items.releaseDate,items.sourceName,items.content)" title="{{items.subject}}" ng-bind="items.subject|characters:40"></p>
						<i ng-bind="items.sourceName"></i>
						<b ng-bind="items.releaseDateStr"></b>
					</li>
				</ul>
			</div>
		</div>
		<div class="myzone-noticeconright">
			<div class="myzone-big-title" style="margin-bottom:8px"><a class="click-into-list" target="_self" href="${base!}/front/investor/statement.do">[@lang_res k='investor.zone.e.statement'/]</a></div>
			<ul class="e-Statement-list">
				<li id="{{items.reports}}" ng-repeat="items in reports">
					<img src="${base}/res/images/community/zhangdan.png"/>
					<div class="e-Statement-content">
						<p><a href="${base!}/loadImgSrcByPath.do?filePath={{items.linkUrl}}" target="_self" ng-bind="items.name"></a></p>
						<p ng-bind="items.lastUpdate"></p>
					</div>
				</li>
				<div class="wmes-nodata-tips ng-scope" ng-if="reports==null||reports.length==0" style="display:block;">
					<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
					<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
				</div>
			</ul>
		</div>
	</div>
	<div ng-controller="investorRecommendedCtrl" class="myzone-recommended">
		<p class="myzone-recommended-title">[@lang_res k='investor.zone.recommended'/]</p>
		<div class="myzone-recommended-rows">
			<p class="myzone-little-title"><b></b><a class="click-into-list" target="_self" href="${base!}/front/portfolio/arena/list.do">[@lang_res k='myfavourites.portfolios'/]</a><span class="ifa-more-ico"></span></p>
			<div class="swiper-container">
				<ul class="swiper-wrapper myzone-list">
					<li id="{{items.id}}" ng-repeat="items in arenas" class="swiper-slide">
						<p><a href="${base!}/front/portfolio/arena/detail.do?id={{items.id}}" target="_self" ng-bind="items.portfolioName"></a></p>
						<div class="myzone-list-msg">
							<p ng-bind="items.sectorDisplay"></p>
							<span ng-if="items.sectorDisplay!=null && items.geoAllocationDisplay!=null">丨</span>
							<p ng-bind="items.geoAllocationDisplay"></p>
						</div>
						<div class="myzone-list-licon">
							<div class="funds_leveal_{{items.riskLevel}}"></div>
							<div>
								<p class="price_positive" ng-bind-html="items.increase | percentColor:'%':${(vo.displayColor)!}"></p>
								<p>[@lang_res k='fund.info.screener.performance.1MonthReturn'/]</p>
							</div>
						</div>
					</li>
					<li ng-if="arenas==null">
						<div class="wmes-nodata-tips" style="display:block;">
							<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
							<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="myzone-recommended-rows">
			<p class="myzone-little-title"><b></b><a class="click-into-list" target="_self" href="${base!}/front/strategy/info/list.do">[@lang_res k='assets.strategies'/]</a><span class="ifa-more-ico"></span></p>
			<div class="swiper-container">
				<ul class="swiper-wrapper myzone-list myzone-strategies-list">
					<li id="{{items.id}}" ng-repeat="items in strategies" class="swiper-slide">
						<p><a target="_self" href="${base!}/front/strategy/info/strategiesdetail.do?id={{items.id}}" ng-bind="items.strategyName"></a></p>
						<div class="myzone-list-msg">
							<p ng-bind="items.sectorName"></p>
							<span ng-if="items.sectorName!=null && items.geoAllocationName!=null">丨</span>
							<p ng-bind="items.geoAllocationName"></p>
						</div>
						<div class="myzone-list-licon" style="margin-top:0">
							<div class="funds_leveal_{{items.riskLevel}}"></div>
							<div class="myzone-strategies-charts" data-value='{{items.strategyAllocationsObj | json}}'></div>
						</div>
					</li>
					<li ng-if="strategies==null">
						<div class="wmes-nodata-tips" style="display:block;">
							<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
							<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="myzone-recommended-rows">
			<p class="myzone-little-title"><b></b><a class="click-into-list" target="_self" href="${base!}/front/fund/info/list.do">[@lang_res k='investor.zone.funds'/]</a><span class="ifa-more-ico"></span></p>
			<div class="swiper-container">
				<ul class="swiper-wrapper myzone-list">
					<li id="{{items.fundInfo.id}}" ng-repeat="items in funds" class="swiper-slide">
						<p><a target="_self" href="${base!}/front/fund/info/fundsdetail.do?id={{items.fundInfo.id}}" ng-bind="items.fundName"></a></p>
						<div class="myzone-list-msg">
							<p ng-bind="items.sectorType"></p>
							<span ng-if="items.sectorType!=null && items.geoAllocation!=null">丨</span>
							<p ng-bind="items.geoAllocation"></p>
						</div>
						<div class="myzone-list-licon">
							<div class="funds_leveal_{{items.fundInfo.riskLevel}}"></div>
							<div>
								<p class="price_positive" ng-bind-html="items.fundReturnOneMonth | percentColor:'%':${(vo.displayColor)!}"></p>
								<p>[@lang_res k='fund.info.screener.performance.1MonthReturn'/]</p>
							</div>
						</div>
					</li>
					<li ng-if="funds==null">
						<div class="wmes-nodata-tips" style="display:block;">
							<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
							<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="myzone-recommended-rows">
			<p class="myzone-little-title"><b></b><a target="_self" class="click-into-list" href="${base!}/front/news/info/newsIndex.do">[@lang_res k='news.title'/]</a><span class="ifa-more-ico"></span></p>
			<ul class="ifa-news-contents">
				<li id="{{items.newsId}}" ng-repeat="items in news">
                	<p class="insights-content space-word-show">
                	<span class="gray-box"></span> 
                	<a class="wmes-community-news-title" href="${base!}/front/news/info/newsContent.do?id={{items.newsId}}" target="_self" ng-bind="items.title">
                	</a>
                	</p>
                	<div class="news-word-wrap">
                    	<a class="ifa-news-img" href="javascript:void(0);">
                        	<img style="cursor: default;" ng-src="{{items.newsUrl}}">
                    	</a>
                    	<div class="news-wrap">
                         	<p class="ifa-news-word" ng-bind="items.description"></p>
                        	<p class="insights-time" ng-bind="items.dateTime | datetime:'yyyy-MM-dd hh:mm:ss'"></p>
                    	</div>
                	</div>
            	</li>
				<div ng-if="news==null" class="wmes-nodata-tips" style="display:block;">
					<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
					<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
				</div>
        	</ul>
		</div>
		<div class="myzone-recommended-rows">
			<p class="myzone-little-title"><b></b><a class="click-into-list" target="_self" href="${base!}/front/community/info/community.do">[@lang_res k='global.insights'/]</a><span class="ifa-more-ico"></span></p>
			<ul class="myzone-recommended-insights">
				<li id="{{items.id}}" ng-repeat="items in insights" class="wmes-community-news-wrap">
					<a href="${base!}/front/community/info/topicDetail.do?type=t&id={{items.id}}" target="_self">
					<div class="wmes-community-news-title" ng-bind="items.title"></div>
					</a>
					<div class="wmes-community-news-type">[@lang_res k='investor.zone.store'/]<span ng-bind="items.publishTimeFormat"></span></div>
					<div class="wmes-community-news-message">
						<div class="wmes-community-news-message-left">
							<img style="cursor: default;" class="headPortrait wmes-community-news-headPortrait" ng-src="${base!}{{items.userHeadUrl}}">
							<div class="wmes-community-news-message-name" ng-bind="items.nickName"></div>
							<div ng-if="items.memberType=='2'" class="wmes-community-news-message-ifasign"></div>
							<div ng-if="items.memberType=='1'" class="wmes-community-news-message-investorsign"></div>
						</div>
						<div class="wmes-community-news-message-right">
							<div style="cursor: default;" class="wmes-community-news-message-right-caicon">
								<div class="wmes-community-news-message-right-cai"></div><span ng-bind="items.readCount"></span>
							</div>
							<div style="cursor: default;" class="wmes-community-news-message-right-nicecon">
								<div behavior="like" iscancel="" type="t" class="wmes-community-news-message-right-nice"></div><span ng-bind="items.commentCount"></span>
							</div>
							<div style="cursor: default;" class="wmes-community-news-message-right-relycon">
								<div class="wmes-community-news-message-right-rely"></div><span ng-bind="items.likeCount"></span>
							</div>
							<div style="cursor: default;" class="wmes-community-news-message-right-eyecon">
								<div class="wmes-community-news-message-right-eye"></div><span ng-bind="items.unlikeCount"></span>
							</div>
						</div>
					</div>
				</li>
				<div ng-if="insights==null" class="wmes-nodata-tips" style="display:block;">
					<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
					<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
				</div>
			</ul>
		</div>
	</div>
	<div ng-controller="investorHotTopicCtrl" class="myzone-recommended">
		<div class="myzone-recommended-rows">
			<p class="myzone-big-title" style="margin-bottom:0;">
				<a class="click-into-list" target="_self" href="${base!}/front/community/info/community.do">[@lang_res k='global.topics'/]</a>
			</p>
			<ul class="myzone-recommended-insights">
				<li id="{{items.id}}" ng-repeat="items in hotTopics" class="wmes-community-news-wrap">
					<a href="${base!}/front/community/info/topicDetail.do?type=t&id={{items.id}}" target="_self">
					<div class="wmes-community-news-title" ng-bind="items.title"></div>
					</a>
					<div class="wmes-community-news-type">[@lang_res k='investor.zone.store'/]<span ng-bind="items.publishTimeFormat"></span></div>
					<div class="wmes-community-news-message">
						<div class="wmes-community-news-message-left">
							<img style="cursor: default;" class="headPortrait wmes-community-news-headPortrait" ng-src="${base!}{{items.userHeadUrl}}">
							<div class="wmes-community-news-message-name" ng-bind="items.nickName"></div>
							<div ng-if="items.memberType=='2'" class="wmes-community-news-message-ifasign"></div>
							<div ng-if="items.memberType=='1'" class="wmes-community-news-message-investorsign"></div>
						</div>
						<div class="wmes-community-news-message-right">
							<div style="cursor: default;" class="wmes-community-news-message-right-caicon">
								<div class="wmes-community-news-message-right-cai"></div><span ng-bind="items.readCount"></span>
							</div>
							<div style="cursor: default;" class="wmes-community-news-message-right-nicecon">
								<div behavior="like" iscancel="" type="t" class="wmes-community-news-message-right-nice"></div><span ng-bind="items.commentCount"></span>
							</div>
							<div style="cursor: default;" class="wmes-community-news-message-right-relycon">
								<div class="wmes-community-news-message-right-rely"></div><span ng-bind="items.likeCount"></span>
							</div>
							<div style="cursor: default;" class="wmes-community-news-message-right-eyecon">
								<div class="wmes-community-news-message-right-eye"></div><span ng-bind="items.unlikeCount"></span>
							</div>
						</div>
					</div>
				</li>
				<div ng-if="hotTopics==null" class="wmes-nodata-tips" style="display:block;">
					<img class="wmes-nodata-img" src="${base!}/res/images/no_data_ico.png">
					<span class="wmes-nodate-word">[@lang_res k='global.search.noData'/]</span>
				</div>
			</ul>
		</div>
	</div>
</div>
<!-- preview notice -->
<div id="previewNoticeDialog" class="wmes-content-position dialog-notice" style="background: rgba(0,0,0,0.3);display:none;width:100%">
	<div class="selectSector">
		<div class="investment-wrap investment-hide">
			<div class="investment-plan-wrap">
				<div class="wmes-close"></div>
				<p style="margin-bottom: 15px;font-size:25px;text-align:center;" class="selectSector-title notice-dialog-title"></p>
				<div style="margin-left: 30%;text-align:center;">
					<p class="selectSector-title-sub">[@lang_res k='notice.edit.dialog.notice.preview.releaseDate'/] : <span class="notice-dialog-release-date-time"></span></p>
					<p class="selectSector-title-sub">[@lang_res k='notice.edit.dialog.notice.preview.releaseBy'/] : <span class="notice-dialog-release-by"></span></p>
				</div>
				<div class="notice-content dialog-notice-content" style="height: 450px;overflow: auto;"></div>
				<div class="character-button-rows"></div>
			</div>
		</div>
	</div>
</div>
[#include "../../inc/foot_v2.html"/]
<script type="text/javascript">
	var props = [@load_prop k=''/];
	seajs.use('${base!}/res/web/investor/investorHome.js');
</script>