[#include "../../inc/head_v2.html"/]
<link rel="stylesheet" href="${base}/res/css/ifa.css">
<link rel="stylesheet" href="${base}/res/css/Funds.css">
    <link rel="stylesheet" type="text/css" href="${base}/res/css/strategy.css">
<link rel="stylesheet" href="${base}/res/css/jsDatePick_ltr.css">
<!-- 
<div class="wmes-top">
    <a href="javascript:;" class="header-over">[@lang_res k='strategy.title'/]</a>
</div> -->
<style>
.ifa_insight_tb tr {
    margin: 5px;
}
.ifa_insight_tb tr:nth-child(2n) {
    background-color: white;
}
.select_choice {font-size:12px;color:#ffb657;border: 2px solid #ffffff;margin-left: 130px;overflow: hidden;padding:5px;}
.select_choice li{position: relative;cursor: pointer;display: inline-block;width: 130px;height:30px;line-height:24px;text-align: center;padding: 0px 0px;border: 1px solid #dddddd;margin-right:-1px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.select_choice .select_choice_active{border: 2px solid #ffb657;}
	.ifa_pagint_now span {
		color: black;
	}
	
	.page_left {
		background:rgba(0, 0, 0, 0) url("${base}/res/images/ifa/left_ico.png") no-repeat scroll 0 0;
		width: 62px;
		height: 62px;
		position: absolute;
		cursor: pointer;
		font-size: 30px;
		text-align: center;
		filter: alpha(opacity=50);
		-moz-opacity: 0.5;
		opacity: 0.5;
		background-color: #ccc;
		color: white;
		line-height: 62px;
		border-radius: 10%;
		margin: auto;
		left: 0px;
		top: 250px;
		bottom: 0;
	}
	
	.page_left:hover {
		background-color: #4ba6de;
	}
	
	.page_right {
		background:rgba(0,
		0,
		0,
		0) url("${base}/res/images/ifa/right_ico.png") no-repeat scroll 0 0;
		width: 62px;
		height: 62px;
		position: absolute;
		font-size: 30px;
		text-align: center;
		filter: alpha(opacity=50);
		-moz-opacity: 0.5;
		opacity: 0.5;
		background-color: #ccc;
		color: white;
		line-height: 62px;
		cursor: pointer;
		border-radius: 10%;
		margin: auto;
		right: 1px;
		top: 250px;
		bottom: 0;
	}
	
	.page_right:hover {
		background-color: #4ba6de;
	}
	.ng-cloak,
	.x-ng-cloak,
	.ng-hide{display:none !important;}ng\:form{display:block;}
	.ng-animate-start{clip:rect(0,auto,auto,0);-ms-zoom:1.0001;}
	.ng-animate-active{clip:rect(-1px,auto,auto,0);-ms-zoom:1;}
</style>
	<div ng-controller="ifaTableCtrl"  ng-app="ifaTable" class="wmes-content wmes-content-position">
	<input type="hidden" id="dateTimeFormat" value="${dateTimeFormat!}">
	<input type="hidden" id="dateFormat" value="${dateFormat!}">
	<div class="strategies_list_wrap">
		<div class="wmes-wrap-title">
			[@lang_res k='console.recommend.strategy'/]
		</div>
		<div class="">
                <div class="funds_choice_wrap">
                    <p class="funds_choice_title">[@lang_res k='global.search.keyword'/]</p>
                    <ul>
                        <li>
                            <div class="search-condition">
                                <input type="text" placeholder="[@lang_res k='strategy.info.list.strategyName'/]" id="keyword" name="keyword"/>
                                <span class="icon_search clientName" id="searchkey"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="funds_choice_wrap">
					<p class="funds_choice_title">[@lang_res k='clients.proposal.period'/]</p>
						<ul class="funds_choice" data-name="period">
							<li class="fund_choice_active  funds_all" data-name="period" data-key="" data-value="">[@lang_res k='clients.proposal.all'/]</li>
							<li data-name="period" data-key="[@lang_res k='order.plan.list.period.week.1'/]" data-value="1W">[@lang_res k='order.plan.list.period.week.1'/]</li>
							<li data-name="period" data-key="[@lang_res k='order.plan.list.period.month.1'/]" data-value="1M">[@lang_res k='order.plan.list.period.month.1'/]</li>
							<li data-name="period" data-key="[@lang_res k='order.plan.list.period.month.3'/]" data-value="3M">[@lang_res k='order.plan.list.period.month.3'/]</li>
							<li data-name="period" data-key="[@lang_res k='order.plan.list.period.month.3'/]" data-value="6M">[@lang_res k='order.plan.list.period.month.6'/]</li>
							<li data-name="period" data-key="[@lang_res k='order.plan.list.period.year.1'/]" data-value="1Y">[@lang_res k='order.plan.list.period.year.1'/]</li>
                            <li class="recommend-date-li recommend-date-choice" data-name="period" data-key="" data-value="other">
                                <p class="recommend-other">[@lang_res k='clients.proposal.other'/]</p>
                                <div class="recommend-other-wrap">
                                    <div class="recom-input-wrap">
                                        <input id="fromDate" readonly class="laydate-icon" type="" name="" style="width: 150px;padding:3px 12px;">
                                    </div>
                                    <p class="recommend-date-name">[@lang_res k='global.to'/]</p>
                                    <div class="recom-input-wrap">
                                        <input id="toDate" readonly class="laydate-icon" type="" name="" style="width: 150px;padding:3px 12px;" >
                                    </div>
                                    <a data-name="period" class="recommend-date-ok" href="javascript:">[@lang_res k='global.ok'/]</a>
                                </div>
                            </li>
						</ul>
				</div>
           </div>     
		<div class="strategies_list">
				<div class="tabcut">
					<div class="tabcutcon">
						<table class="funds_search_information strategies_List">
						<tbody>
							<tr class="funds_tables_th">
								<th class="funds_tables_header" style="width:35%;text-align: center;">
									[@lang_res k='strategy.info.list.strategyName'/]
								</th>
								<th class="funds_tables_header" style="width:5%;text-align: center;">
									[@lang_res k='portfolio.info.list.creator'/]
								</th>
								<th class="funds_tables_header" style="width:15%;">
									[@lang_res k='list.search.riskLevel'/]
								</th>
								<th class="funds_tables_header" style="width:5%;">
								</th>
								<th class="funds_tables_header" style="width:14%;text-align: left;">
									[@lang_res k='list.search.issuedDate'/]
								</th>
								
							</tr>
							<tr ng-cloak ng-repeat="items in dataList"  class="ng-cloak">
								<td class="tdleft funds_tables_fnames funds_tables_fnames_amend">
									<a href="${base}/front/strategy/info/strategiesdetail.do?id={{items.id}}&type=read" ng-bind="items.strategyName"></a><br/>
								</td>
								<td class="funds_search_tdcenter">
								   {{items.creatorName}}
								</td>
								<td class="funds_search_tdcenter" ng-if="items.riskLevel=='1'">
									[@lang_res k='strategy.risk1'/]
								</td>
								<td class="funds_search_tdcenter" ng-if="items.riskLevel=='2'">
									[@lang_res k='strategy.risk2'/]
								</td>
								<td class="funds_search_tdcenter" ng-if="items.riskLevel=='3'">
									[@lang_res k='strategy.risk3'/]
								</td>
								<td class="funds_search_tdcenter" ng-if="items.riskLevel=='4'">
									[@lang_res k='strategy.risk4'/]
								</td>
								<td class="funds_search_tdcenter" ng-if="items.riskLevel=='5'">
									[@lang_res k='strategy.risk5'/]
								</td>
								<td class="funds_search_tdcenter">
								</td>
								<td class="funds_search_tdcenter myProposalList_time">
									<p ng-bind="items.createTime|datetime:dateTimeFormatStr"></p>
								</td>
								
							</tr>
						</tbody>
					</table>
					<div class="no_list_tips">
            			<img class="wmes-nodata-img" src="${base}/res/images/no_data_ico.png">
            			<span class="wmes-nodate-word">[@lang_res k='global.nodata.tips'/]</span>
        			</div>
					</div>
					
					<ul  class="wmes_list_paging">
		                <li class="wmes_pagint_num" ng-repeat="items in page.ListPage" ng-class="{wmes_pagint_now: items.PageShow == page.nowPage}" ng-bind="{{'items.PageShow'}}" data-page="{{items.PageShow}}"></li>
		            </ul>
				</div>
				
			</div>
			</div>
	</div>
	<div class="visitedconlayer"></div>
	<div class="visitedcon">
		<p class="visitedcontitle">[@lang_res k='strategy.mylist.recentVisitors'/]</p>
		<div class="visitedbox">
			<ul >
				<li ng-repeat="friend in friendList">
					<img alt="" src="${base}{{friend.iconUrl}}" style="width:32px;height:32px;"/>
					<div class="visitedinformation">
						<p ng-bind="friend.nickName"></p>
						<p ng-if="friend.vistiPeriodType!=null && friend.vistiPeriodType=='H'">{{friend.vistiPeriodTime}} hour ago</p>
						<p ng-if="friend.vistiPeriodType!=null && friend.vistiPeriodType=='M'">{{friend.vistiPeriodTime}} mins ago</p>
						<p ng-if="friend.vistiPeriodType==null" ng-bind="friend.vistiTime|date:'yyyy-MM-dd'"></p>
					</div>
				</li>
			</ul>
		</div>
		<img style="display:none" class="visitedleft" src="${base}/res/images/ifa/left_ico.png" />
		<img style="display:none" class="visitedright" src="${base}/res/images/ifa/right_ico.png" />
	</div>
[#include "../../inc/foot_v2.html"/] 
<script type="text/javascript">
//seajs.use('${base}/res/js/jsDatePick.jquery.min.1.3.js');
seajs.use('${base}/res/console/web/ifafirm/recommendStrategies.js');
/*window.onload = function(){
    new JsDatePick({
      useMode:2,
      target:"fromDate",
      dateFormat:"%Y-%m-%d"
    });
    new JsDatePick({
      useMode:2,
      target:"toDate",
      dateFormat:"%Y-%m-%d"
    });
};*/
</script>