[#include "../inc/head_v2.html"/]

<link rel="stylesheet" href="${base}/res/css/discover.css">
<link rel="stylesheet" href="${base}/res/css/ifa.css"> 
<link rel="stylesheet" href="${base}/res/css/community.css">
<link rel="stylesheet" href="${base}/res/css/other.css">
<link rel="stylesheet" href="${base}/res/css/news/css/style.css"> 
<link href="${base}/res/css/client.css" rel="stylesheet" type="text/css" />
<link href="${base}/res/css/Funds.css" rel="stylesheet" type="text/css" />

<style>
	.ifa-his-type-list{margin-left:0;margin-right:0;width:100%;}
	.ifa-his-type-list li{margin:0;width:31%;}
	.ifa-his-type-list li:nth-child(2){margin:0 3%;}
	.ifa-type-title span{color: white!important;background-color: #ff9019;padding: 5px 10px;border-radius: 10px;margin-left: 15px;}
	.community-popularity-wrap{border-bottom:1px dashed #dedede;padding-bottom:12px}
	.ifa-news-contents li{margin-bottom:0;margin-top:20px;}
	.gray-box{margin-top:12px;}
	.type-portfolios-left{margin:0;}
</style>
<div class="wmes-content" ng-controller="ifaSpaceCtrl"  ng-app="ifaSpace">
	<div class="wmes-space-row">
		<div class="wmes-space-row-left">
			<div class="wmes-space-information-top">
				<img src="${base}${(info.iconUrl)!}"/>
				<div class="wmes-space-information">
					<div memberid="${memberId!}"  class="wmes-space-name" id="memberName" >${(info.nickName)!}<span></span></div>
					<div class="wmes-ifa_label">
					 	[#if info?? && info.characterList?exists && info.characterList?size gt 0]
					    [#list info.characterList as list]
					 	[#if list?? && list!='']<p>${list}</p>[/#if]
					 	[/#list]
					 	[/#if]
                	</div>
                	<p class="space-ifa-word">[@lang_res k='community.space.topic'/]<span>${(info.topciCount)!}</span></p><p class="space-ifa-word">[@lang_res k='community.space.followers'/]<span>${(info.followCount)!}</span></p>
				</div>
			</div>
			<ul class="wmes-space-information-bottom">
				
				
				[#if myself?? && myself=='0']
				[#if isFriend?? && !isFriend]
				<li id="addFriend"><span class="wmes-space-information-bottom-img2"></span>[@lang_res k='community.space.addBuddy'/]</li>
				[#else]
				<li><img class=" layim-pop-chat" layim-pop-id="${info.memberId!}" src="${base}/res/images/ifa/top_chat.png"/></li>
				[/#if]
				[#if focused??][#if focused=='0']<li><span class="wmes-space-information-bottom-img1 addFocus"></span><span>[@lang_res k='community.space.addFocus'/]</span></li>
				[#elseif focused=='1' ]
				<li><span class="wmes-space-information-bottom-img1 wmes-space-information-bottom-img0 cancelFocus"></span><span>[@lang_res k='community.space.cancelFocus'/]</span></li>
				[/#if][/#if]
				
				[/#if]
			</ul>
		</div>
		<div class="wmes-space-row-right zone-edit">
			<p class="wmes-space-row-right-title">[@lang_res k='community.space.highlight'/]</p>
			<textarea id="txtHightLight" class="ifa-thehight-word" readonly="" type="text" name="" style="width:90%;height:50px;color:#999;">[#if info?? && info.hightlight?exists]${info.hightlight!}[#else][@lang_res k='ifaspace.info.noContent'/][/#if]</textarea>
		      [#if myself?? && myself=='1']	<span class="ifa-thehigt-edit" style="position: initial;float:right;"></span>[/#if]
		</div>
	</div>
	<div class="wmes-space-recommendation">
		<div class="wmes-community-content">
			<div class="wmes-community-content-left">
				<ul class="wmes-community-tab">
				  [#if myself?? && myself=='1']<li class="wmes-community-tabac">[@lang_res k='community.space.dynamic'/]</li>[/#if]
					<li [#if myself?? && myself=='0']class="wmes-community-tabac[/#if]">[@lang_res k='community.space.topic'/]</li>
					<li>[@lang_res k='community.space.question'/]</li>
					[#if myself?? && myself=='1']<li>[@lang_res k='community.space.favourite'/]</li>[/#if]
				</ul>
				[#if myself?? && myself=='1']
				<div class="wmes-community-news-con">
				<div class="wmes-community-news-wrap"  ng-repeat="each in dynamicList">
						<div class="wmes-community-news-title topicTitle" id="{{each.id}}">{{each.title}}</div>
						<p class="wmes-community-news-text" ng-bind="each.content | cutHmtl:true:150:'...'"></p>
						<div class="wmes-community-news-message">
							<div class="wmes-community-news-message-left">
								<div class="wmes-community-news-type">{{each.sectionName}}<span>{{each.publishTimeFormat }}</span></div>
							</div>
							<div class="wmes-community-news-message-right">
								<div class="wmes-community-news-message-right-relycon">
									<div class="wmes-community-news-message-right-rely"></div><span>{{each.commentCount}}</span>
								</div>
								<div class="wmes-community-news-message-right-eyecon">
									<div class="wmes-community-news-message-right-eye"></div><span>{{each.readCount}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clickmore moredynamic" style="display:none"><a href="javascript:;">[@lang_res k='ifalist.list.clickmore'/]</a></div>
					<div class="wmes-nodata-tips dynamic-tips" style="display:none;">
                      <img class="wmes-nodata-img" src="${base}/res/images/no_data_ico.png">
                      <span class="wmes-nodate-word">[@lang_res k='global.nodata.tips'/]</span>
                  	</div>
				</div>
				[/#if]
				<div class="wmes-community-news-con">
					 	<div class="wmes-community-news-wrap"  ng-repeat="each in topicList">
						<div class="wmes-community-news-title topicTitle" id="{{each.id}}">{{each.title}}</div>
						<p class="wmes-community-news-text" ng-bind="each.content | cutHmtl:true:150:'...'"></p>
						<div class="wmes-community-news-message">
							<div class="wmes-community-news-message-left">
								<div class="wmes-community-news-type">{{each.sectionName}}<span>{{each.publishTimeFormat }}</span></div>
							</div>
							<div class="wmes-community-news-message-right">
								<div class="wmes-community-news-message-right-relycon">
									<div class="wmes-community-news-message-right-rely"></div><span>{{each.commentCount}}</span>
								</div>
								<div class="wmes-community-news-message-right-eyecon">
									<div class="wmes-community-news-message-right-eye"></div><span>{{each.readCount}}</span>
								</div>
							</div>
						</div>
					</div>
			       <div class="clickmore moretopic" style="display:none"><a href="javascript:;">[@lang_res k='ifalist.list.clickmore'/]</a></div>
			        <div class="wmes-nodata-tips topic-tips" style="display:none;">
	                      <img class="wmes-nodata-img" src="${base}/res/images/no_data_ico.png">
	                      <span class="wmes-nodate-word">[@lang_res k='global.nodata.tips'/]</span>
                     	</div>
				</div>
				<div class="wmes-community-news-con">
					<div class="wmes-community-news-wrap" ng-repeat='each in questionList'>
						<div class="wmes-community-news-message-namecon">
							<img class="wmes-community-news-headPortrait  headPortrait" memberId='{{each.memberId}}' memberType='{{each.memberType}}' src="${base}{{each.memberUrl | userhead:each.memberGender:''}}">
							<div class="wmes-community-news-message-name ng-binding">{{each.memberName}}</div>
							<div class="wmes-community-news-message-investorsign ng-scope" ng-if="items.memberType==1"></div><!-- end ngIf: items.memberType==1 -->
						</div>
						<p class="wmes-community-news-qa"  ng-bind-html="each.content | emotion:base_root"></p>
						<p class="wmes-community-news-qa-flex">[@lang_res k='community.space.showAllContent'/]</p>
						<div class="wmes-community-news-message" questionId="{{each.id}}" type="q" >
							<div class="wmes-community-news-message-left">
								<div class="wmes-community-news-qa-repltime">{{each.createDate | datetime:dateTimeFmt}}</div>
							</div>
							<div class="wmes-community-news-message-right">
								<div class="wmes-community-news-message-right-caicon">
									<div class="wmes-community-news-message-right-cai comment-topper-caied" ng-if="each.isUnlike==1" ></div>
									<div class="wmes-community-news-message-right-cai" ng-if="each.isUnlike!=1" ></div>
									<span class="ng-binding">{{each.unlikeCount}}</span>
									
								</div>
								<div class="wmes-community-news-message-right-nicecon" >
									<div  type="q" class="wmes-community-news-message-right-nice comment-topper-niceed" ng-if="each.isLike==1"></div>
									<div  type="q" class="wmes-community-news-message-right-nice " ng-if="each.isLike!=1"></div>
									<span class="ng-binding">{{each.likeCount}}</span>
								</div>
								<div class="wmes-community-news-message-right-relycon"  >
									<div class="wmes-community-news-message-right-rely" ></div><span class="ng-binding">{{each.commentCount}}</span>
								</div>
							</div>
						</div>
						
						<div class="wmes-community-news-qa-replycon" ng-if="each.answerList.length>0" >
						<div class="wmes-community-news-qa-replyname">[@lang_res k='topic.detail.reply'/]：</div>
							<div class="answer-list" ng-repeat="items in each.answerList" >
							<div class="wmes-community-news-qa-repltext"  ng-bind-html="items.content | emotion:base_root">
							</div>
							<div class="wmes-community-news-message"  commentId="{{items.id}}"  type="a"  style="margin-top:4px;">
								<div class="wmes-community-news-message-left">
									<div class="wmes-community-news-qa-repltime">{{items.dateTime | datetime:dateTimeFmt}}</div>
									<div class="wmes-community-news-message-right-caicon" >
										<div class="wmes-community-news-message-right-cai comment-topper-caied" ng-if="items.isUnlike==1" ></div>
										<div class="wmes-community-news-message-right-cai" ng-if="items.isUnlike!=1" ></div>
										<span>{{items.unlikeCount}}</span>
									</div>
									<div class="wmes-community-news-message-right-nicecon"  >
										<div class="wmes-community-news-message-right-nice comment-topper-niceed" ng-if="items.isLike==1" ></div>
										<div class="wmes-community-news-message-right-nice" ng-if="items.isLike!=1" ></div>
										<span>{{items.likeCount}}</span>
									</div>
									<div class="wmes-community-news-message-right-relycon">
										<div class="wmes-community-news-message-right-rely"></div><span>{{items.commentCount}}</span>
									</div>
								</div>
								
							</div>
						</div>
							</div>
							
						</div>
						 <div class="clickmore morequestion" style="display:none"><a href="javascript:;">[@lang_res k='ifalist.list.clickmore'/]</a></div>
						 <div class="wmes-nodata-tips quetion-tips" style="display:none;">
	                      <img class="wmes-nodata-img" src="${base}/res/images/no_data_ico.png">
	                      <span class="wmes-nodate-word">[@lang_res k='global.nodata.tips'/]</span>
                     	</div>
				    </div>
				<div class="wmes-community-news-con">
					<div class="wmes-community-news-wrap" ng-repeat="each in favouriteList">
						<div class="wmes-community-news-title topicTitle" id={{each.id}}>{{each.title}}</div>
						<p class="wmes-community-news-text" ng-bind="each.content | cutHmtl:true:150:'...'"></p>
						<div class="wmes-community-news-message">
							<div class="wmes-community-news-message-left">
								<div class="wmes-community-news-type">{{each.sectionName}}<span>{{each.publishTimeFormat | datetime:dateTimeFmt}}</span></div>
							</div>
							<div class="wmes-community-news-message-right">
								<div class="wmes-community-news-message-right-relycon">
									<div class="wmes-community-topic-collect news-collectionac" id='{{each.id}}'  ng-if="each.isFavourite==1"></div>
									<div class="wmes-community-topic-collect" id='{{each.id}}'   ng-if="each.isFavourite!=1"></div>
								</div>
								<div class="wmes-community-news-message-right-relycon">
									<div class="wmes-community-news-message-right-rely"></div><span>{{each.commentCount}}</span>
								</div>
								<div class="wmes-community-news-message-right-eyecon">
									<div class="wmes-community-news-message-right-eye"></div><span>{{each.readCount}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clickmore morefavourite" style="display:none"><a href="javascript:;">[@lang_res k='ifalist.list.clickmore'/]</a></div>
					<div class="wmes-nodata-tips favourite-tips" style="display:none;">
                      <img class="wmes-nodata-img" src="${base}/res/images/no_data_ico.png">
                      <span class="wmes-nodate-word">[@lang_res k='global.nodata.tips'/]</span>
                  	</div>
				</div>
			</div>
			<div class="wmes-community-content-right" style="margin-top:24px;">
				<ul class="wmes-community-tab">
					<li class="wmes-community-tabac">[#if myself?? && myself=='1'][@lang_res k='community.space.followers'/][#elseif info.gender?? && info.gender=='F'][@lang_res k='community.space.herfollowers'/][#else][@lang_res k='community.space.hisfollowers'/][/#if]</li>
					<li>[#if myself?? && myself=='1'][@lang_res k='community.space.focus'/][#elseif info.gender?? && info.gender=='F'][@lang_res k='community.space.herfocus'/][#else][@lang_res k='community.space.hisfocus'/][/#if]</li>
					[#if myself?? && myself=='1']<li><a href='${base}/front/investor/mybuddy.do'>[@lang_res k='member.front.MyBuddy'/]</a></li>[/#if]
				</ul>
				<div class="community-popularity-wrapcon">
				[#if followersList?exists && followersList?size gt 0]
				[#list followersList as list]
					<div class="community-popularity-wrap">
						<img class="community-popularity-wrap-img  headPortrait" memberId='${list.memberId!}' memberType='${list.memberType!}' src="${base}[@user_head u=list.iconUrl g=list.gender/]"/>
						<div class="community-popularity-wrap-mes">
							<div class="community-popularity-wrap-mes-name"><p>${list.nickName!}</p>[#if list.memberType?? && list.memberType==1]<span class="wmes-community-news-message-investorsign"></span>[#elseif list.memberType?? && list.memberType==2]<span class="wmes-community-news-message-ifasign"></span>[/#if]</div>
							<div class="community-popularity-wrap-mes-content">
								<div class="community-popularity-wrap-mes-followers"><p>[@lang_res k='community.space.followers'/]</p><span>${list.followerCount!}</span></div>
								<div class="community-popularity-wrap-mes-topic"><p>[@lang_res k='community.space.topic'/]</p><span>${list.topicCount!}</span></div>
							</div>
							[#if myself?? && myself=='1']
							[#if list.isFocused?? && list.isFocused==1]
							<div class="wmes-space-add-attention" memberId='${list.memberId!}'  type="cancel"><span class="wmes-space-information-bottom-img1 wmes-space-information-bottom-img0"></span><span>[@lang_res k='community.space.cancelFocus'/]</span></div>
							[#elseif list.isFocused?? && list.isFocused==0 ]
							<div class="wmes-space-add-attention" memberId='${list.memberId!}' type="add"><span class="wmes-space-information-bottom-img1"></span><span>[@lang_res k='community.space.addFocus'/]</span></div>
							[/#if]
							[/#if]
						</div>
					</div>
					
					[/#list]
					[#else]
					<div class="wmes-nodata-tips" style="display:block;">
                      <img class="wmes-nodata-img" src="${base}/res/images/no_data_ico.png">
                      <span class="wmes-nodate-word">[@lang_res k='global.nodata.tips'/]</span>
                  	</div>
					[/#if]
				</div>
				<div class="community-popularity-wrapcon">
				[#if focusList?exists && focusList?size gt 0]
				[#list focusList as list]
					<div class="community-popularity-wrap">
						<img class="community-popularity-wrap-img  headPortrait" memberId='${list.memberId!}' memberType='${list.memberType!}' src="${base}[@user_head u=list.iconUrl g=list.gender/]"/>
						<div class="community-popularity-wrap-mes">
							<div class="community-popularity-wrap-mes-name"><p>${list.nickName!}</p>[#if list.memberType?? && list.memberType==1]<span class="wmes-community-news-message-investorsign"></span>[#elseif list.memberType?? && list.memberType==2]<span class="wmes-community-news-message-ifasign"></span>[/#if]</div>
							<div class="community-popularity-wrap-mes-content">
								<div class="community-popularity-wrap-mes-followers"><p>[@lang_res k='community.space.followers'/]</p><span>${list.followerCount!}</span></div>
								<div class="community-popularity-wrap-mes-topic"><p>[@lang_res k='community.space.topic'/]</p><span>${list.topicCount!}</span></div>
							</div>
							[#if myself?? && myself=='1']
							[#if list.isFocused?? && list.isFocused==1]
							<div class="wmes-space-add-attention" memberId=${list.memberId!} type="cancel" ><span class="wmes-space-information-bottom-img1 wmes-space-information-bottom-img0"></span><span>[@lang_res k='community.space.cancelFocus'/]</span></div>
							[#elseif list.isFocused?? && list.isFocused==0 ]
							<div class="wmes-space-add-attention" memberId=${list.memberId!} type="add"><span class="wmes-space-information-bottom-img1"></span><span>[@lang_res k='community.space.addFocus'/]</span></div>
							[/#if]
							[/#if]
							
						</div>
					</div>
					[/#list]
					[#else]
					<div class="wmes-nodata-tips" style="display:block;">
                      <img class="wmes-nodata-img" src="${base}/res/images/no_data_ico.png">
                      <span class="wmes-nodate-word">[@lang_res k='global.nodata.tips'/]</span>
                  	</div>
					[/#if]
					</div>
					
				</div>
			</div>
		</div>
		
		
</div>
[#include "../inc/foot_v2.html"/]
<script type="text/javascript">
	var IFASPACE_LANG_Alert = "[@lang_res k='layer.alert'/]";
	var COMMUNITY_SPACE_SURETOADDFOCUS = "[@lang_res k='community.space.sureToAddFocus'/]";
	var COMMUNITY_SPACE_SURETOCANCELFOCUS = "[@lang_res k='community.space.sureToCancelFocus'/]";
	var COMMUNITY_SPACE_YES = "[@lang_res k='global.true'/]";
	var COMMUNITY_SPACE_NO = "[@lang_res k='global.false'/]";
var _myself=${myself!}
var _curMemberId='${loginMemberId!}'
var _memberType='${loginMemberType!}'
var _dateFormt='${dateFormt!}'
	seajs.use('${base}/res/web/community/invspace.js');
</script>